// Default Fonts
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}