
/***********************************************************************************
 *                                 Default Theme Fonts
 ***********************************************************************************/
@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNovaT-Thin/ProximaNova-Thin.eot');
    src: url('../fonts/ProximaNovaT-Thin/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin/ProximaNova-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin/ProximaNova-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin/ProximaNova-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Behrens KursivC';
    src: url('../fonts/BehrensKursivC/BehrensKursivC.eot');
    src: url('../fonts/BehrensKursivC/BehrensKursivC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BehrensKursivC/BehrensKursivC.woff2') format('woff2'),
        url('../fonts/BehrensKursivC/BehrensKursivC.woff') format('woff'),
        url('../fonts/BehrensKursivC/BehrensKursivC.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

