.labs-content {
	font-size: 100px;
	font-family: $behrens;
	color: rgba(227, 5, 117, .3);
	position: relative;
	margin-top: 70%;
	// margin-bottom: 50%;
}

.labs-line {
	position: relative;
	height: 1px;
}