.header-wrapper {
	position: relative;
	// display: none;
	 background: url(../img/overleyBg.png) no-repeat center;
	background-size: cover;
}

.header {
	max-width: 320px;
	// display: none;
	// position: absolute;
	z-index: 100;
}

.logo {
	margin-bottom: 40px;
	margin-top: 60px;
}

.nav-menu-item {
	padding: 40px 40px;
	font-size: 32px;
	transition: all .3s ease;
	a {
		color: $text-color;
	}
	&:hover {
		background-color: rgba(255,255,255,0.04);
		transform: translateY(-5px);
	}
}

.active {
	a {
		color: $pink;
	}
}

.header-icon {
	position: relative;
	margin-top: 200px;
}

.header-icon-wrapp {
	margin-bottom: 60px;
}

.header-icon-item {
	display: inline-block;
	font-size: 30px;
	margin-left: 30px;
	transition: all .3s ease;
	a {
		color: #353d51;
	}
	&:hover {
		transform: translateY(-8px);
		a {
			color: $pink;
		}
	}
}


.header-icon-item:nth-child(1) {
	margin: 0;
}


