
/***********************************************************************************
 *                                 Default Theme Color
 ***********************************************************************************/
$pink: #ff4ba8;
$text-color: #c8c7cb;
$dark-blue: #262037;
/***********************************************************************************
 *                                 Default Theme Fonts
 ***********************************************************************************/
$thin: 'ProximaNovaT-Thin', sans-serif;
$light: 'ProximaNova-Light', sans-serif;